<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Sample Site</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="topnav">
			<a href="/"><img src="logo.png"></a>
			<a href="/">Home</a>
			<a href="upload">Upload</a>
			<a href="about">About</a>
			<a class="active" href="contact">Contact</a>
			<div class="search-container">
				<form action="/download" method="post">
					<input type="text" placeholder="Search & download..." name="downloadFile">
					<button type="submit">Download</button>
				</form>
			</div>
		</div>
		<h1>Contact us</h1>
		<p>Contact as at qwerty@wqkel.com</p>
	</body>
</html>