<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Sample Site</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="topnav">
			<a href="/"><img src="logo.png"></a>
			<a href="/">Home</a>
			<a class="active" href="upload">Upload</a>
			<a href="about">About</a>
			<a href="contact">Contact</a>
			<div class="search-container">
				<form action="/download" method="post">
					<input type="text" placeholder="Search & download..." name="downloadFile">
					<button type="submit">Download</button>
				</form>
			</div>
		</div>
		<h1>Upload a torrent file here!</h1>
		<form action="/uploadFile" enctype="multipart/form-data" method="post">
            <input type="file" name="uploadedFile"><br><br>
            <button>Upload</button>
        </form>
	</body>
</html>